<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>angular</title>
    
    <script src="./angular.min.js"></script>
</head>
<body ng-app>
    <!--***************   directives    ********************************* -->
    <!-- <div ng-app>

   ************************     hide {{}} ************************
        {{ 4+6 }}
    </div> -->
  
    <!-- ******************************string convert to uppercase******************** -->
    <!-- <p ng-app>
        {{"sece".toUpperCase()  }}
    </p> -->

        <!-- APPLY NG-APP IN HTML/BODY/ELEMENT -->

    <!-- ********************************** getting index of character/ defining an expression -->

    <!-- <p >
            {{ 1==1?"True":"False" }}
    </p> -->


    <!-- ***************************** take input and print out with variable************************* -->
    <!-- <label >Enter data </label>
    <input type="text" ng-model="a">
    <h1>Data Entered by user:{{a}}</h1> -->
                    <!-- ************** display only 1and 3**************************** -->

    <!-- <p ng-show="true">paragraph 1</p>
    <p ng-show="false">paragraph 2</p>
    ********************** you can specify condition also in ng-show 
    <p ng-show="5==5">paragraph 3 </p>
    <p ng-show="5==6">paragraph 4</p> -->
    <!-- ********************************** ng-inhit used for inhitaially start  ******************************** -->
<!-- 
    <button ng-click="count=count+1" ng-init="count=10">click me</button>
        <h2>count:{{count}}</h2>
        MVC :     modal view control
        how mvc can be achieve using r=angular -->




</body>
</html>











